<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
<<<<<<< HEAD
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" a href="https://bootswatch.com/5/cyborg/bootstrap.min.css"> 
=======
        <title>{% block title %}Bienvenue dans notre Etablissement!{% endblock %}</title>
>>>>>>> 098a6ee694ce290f0c0b0fff7bd8ac898aae73b4
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
        <link rel="stylesheet" type=text/css href="style.css">
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
